<!doctype html>
<html style="height: 100%;">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <partial name="_BrandingStyles" />
</head>
<body class="d-flex align-items-center py-4" style="height: 100%;">
    <main class="w-100 m-auto" style="max-width: 500px;">
        @RenderBody()
    </main>
</body>

</html>