@page
@model Community.UserAccount.UI.Areas.Account.Pages.ForgotPasswordModel
@{
    Layout = "_SignInLayout";
}

@if (string.IsNullOrEmpty(Model.PgpMessage))
{
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="mb-3">
            <label asp-for="UserName" class="form-label"></label>
            <input asp-for="UserName" class="form-control" autocomplete="username" aria-required="true" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <button type="submit" class="w-100 btn btn-lg btn-primary">Reset Password</button>
    </form>
}
else
{
    <form method="post" asp-page-handler="code">
        <div class="mb-3">
            <partial name="_GPGMessagePartial" model="@Model.PgpMessage" />
        </div>
        <div class="mb-3">
            <label asp-for="Code" class="form-label"></label>
            <input asp-for="Code" class="form-control" autocomplete="username" aria-required="true" />
            <span asp-validation-for="Code" class="text-danger"></span>
        </div>
        <input asp-for="UserName" type="hidden" />
        <button type="submit" class="w-100 btn btn-lg btn-primary">Send Code</button>
    </form>
}
