@page
@model LoginModel

@{
    Layout = "_SignInLayout";
}

<form method="post">
    <h1 class="h3 mb-3 fw-normal text-center">@ViewData["Title"]</h1>

    <div class="form-floating mb-3">
        <input type="text" asp-for="Input.UserName" class="form-control" placeholder="Username here" />
        <label asp-for="Input.UserName"></label>
    </div>
    <div class="form-floating mb-3">
        <input type="password" asp-for="Input.Password" class="form-control" placeholder="Password here" />
        <label asp-for="Input.Password"></label>
    </div>
    <div class="mb-3">
        <a id="forgot-password" asp-page="./ForgotPassword">I forgot my password</a>
    </div>
    <div class="checkbox mb-3">
        <label asp-for="Input.RememberMe" class="form-label">
            <input class="form-check-input" asp-for="Input.RememberMe" />
            @Html.DisplayNameFor(m => m.Input.RememberMe)
        </label>
    </div>
    <div class="mb-3">
        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    </div>
    <div class="mb-3">
        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Create a new account.</a>
    </div>
</form>